/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  overflow: hidden;
} */

@layer utilities {
  .w-1160 {
    width: 1160px;
  }
  .h-30 {
    height: 30px;
  }
}
